<br>
<div class="row">
    <div class="alert alert-danger col-md-12">
        <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        You have @ViewBag.pending schedule booking to review.
    </div>
</div>
<br>